/* import font styles */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Playfair+Display&display=swap');
/* fonts */
/* font-family: 'Chewy', cursive;
font-family: 'Playfair Display', serif; */
/* Global resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Style Variables */
:root {
    --main-tx-color:white;
    --main-font-head:'Chewy', cursive;
}
/* Back ground image for mobile first and to be responsive */
html { 
    background: url(../images/earth.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.top--heading {
    font-size: 2.5rem;
    font-family: var(--main-font-head);
    color: var(--main-tx-color);
    letter-spacing: 3px;
    text-align: center;
}
