/* import font styles */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Playfair+Display&display=swap');

/* fonts */
/* font-family: 'Chewy', cursive;
font-family: 'Playfair Display', serif; */
/* Global resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Style Variables */
:root {
    --main-tx-color: white;
    --main-font-head: 'Chewy', cursive;
    --second-font: 'Playfair Display', serif;
}

/* Back ground image for mobile first and to be responsive */
html {
    background: url(../images/earth.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* all our media queries that we want to take affect
	   from 576px and up go here and this is normally for screens of
	   small to medium sizes */

@media (min-width: 320px) {

    .top--heading {
        font-size: 2.3rem;
        font-family: var(--main-font-head);
        color: var(--main-tx-color);
        letter-spacing: 3px;
        text-align: center;
        margin-top: 2rem;
    }

    /* Game area */
    .game--area {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: auto auto auto auto;
        margin-top: 3rem;
        width: 100vw;
        margin: 50px auto;
    }

    .card-back {
        border-radius: 10px;
    }

    .game-information {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .timer,
    .moves {
        padding: 0.5rem;
        background-color: rgba(41, 188, 207, 0.712);
        border-radius: 10px;
        margin: 0.8rem;
        color: var(--main-tx-color);
        font-family: var(--second-font);
        font-weight: 600;
        letter-spacing: 2px;
    }
}